body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
}

.square
{
	width: 50%;
	float:left;
}

#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 60px;
	width: 600px;
	text-align: left;
}

#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 45px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095D3;
	float: left;
	text-align: center;
}

.tile1:hover
{
	background-color: #2084c2;
}
.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	text-align: center;
}

.tile2:hover
{
	background-color: #555555;
}

.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}

.tile3:hover
{
	background-color: #82b637;
}

.tile4
{
	margin: 10px;
	width: 420px;
	height: 82px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 26px;
	padding: 30px;
	line-height: 115%;
}

.tile5
{
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #666666;
	text-align: justify;
	padding: 30px;
}

.li
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #0077B5;
	float: left;
}

.li:hover
{
	background-color: #0066a4;
}

.gh
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #93c748;
	float: left;
}

.gh:hover
{
	background-color: #82b637;
}

.fb
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #3b5998;
	float: left;
}

.fb:hover
{
	background-color: #2a4887;
}

.gm
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #c71610;
	float: left;
}

.gm:hover
{
	background-color: #b60500;
}

a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 105px;
	height: 142px;
}

a.tilelink2
{
	color: #ffffff;
	text-decoration: none;
}